language: python
python:
    - "2.7"
    - "3.5"
install:
    # - pip install -r requirements.txt
    # - pip install -r requirements_test.txt
    - python setup.py install
    - pip install coveralls
# script: python -m pytest tests
# script: py.test --cov-report term --cov-report xml --cov=tornado_restplus tests
script: python setup.py test
after_success:
  coveralls
